@mixin btn {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 48px;
  background: #FCB72B;
  border: 3px solid #FCB72B;
  transition: all 0.4s ease;

  &:hover {
    background: #fff;
    color: #FCB72B;
    transition: all 0.4s ease;

  }
}

@mixin hero__title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  max-width: 500px;
  z-index: 1;
}

@mixin hero__text {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  max-width: 405px;
  z-index: 1;
}

@mixin services__title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

@mixin title__contents {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;

}

@mixin text {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;

}